@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

#cabecera{
    height: 450px;
    background: hsla(340, 95%, 50%, 0.459)
}

#titulo{
    font-family: 'Lobster Two';
    font-size: 6rem;
}

#form-motivo{
    font-size: 1.3rem;
    /*background-color: black;*/
    margin-left: 300px;
    margin-top: 30px;

}
fieldset{
    border: none;
}
#motivo{
    -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  width: 400px;
  font-size: 1rem;
  margin-top: 10px;
}


.titulo-motivo{
    font-size: 2rem;
    
}

hr{
    width: 900px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.datos{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
    width: 400px;
    font-size: 1rem;
    margin-top: 10px;
    
}

.cont-datos{
    margin-top: 20px;
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
    
}

.p-form{
    position: absolute;
    width: 400px;
    font-size: 1rem;
    color: red;
    margin-top: 5px;
    font-family: sans-serif;
    
    
}


#pie{
    margin-top: 20px;
}

#submit{
    margin-top: 20px;
    margin-left: 733px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #840032;
    border:none;
    color: white;
    font-size: 15px;
}

#submit:hover{
    cursor: pointer;
    background-color: rgba(133, 0, 51, 0.7);
}

#reembolso{
    display: none;
}

#div-boleta{
    margin-bottom: 30px;
}
#boleta{
    height: 20px;
    
}

footer{
    margin-top: 30px;
}