{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    <link rel="shortcut icon" href="img/imgcn.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/formulario.css'%}">
    

    <script src="{% static 'core/js/Copia de jquery-3.6.0.js'%}"></script>

    <script src="{% static 'core/js/form.js'%}"></script>
</head>
<body>
    <header id="cabecera">
        <nav>
            <a href="{% url 'index' %}">Portada</a>
            <a href="{% url 'nacional' %}">Ultimo minuto</a>
            <a href="{% url 'deportes' %}">Deporte</a>
            <a href="{% url 'Reportajes' %}">Programas</a>
            <a href="{% url 'login' %}">iniciar sesion</a>
        </nav>
        <section class="textos-header">
            <h1 id="titulo">Contacto</h1>
               
           
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 500%;">
                
            </svg></div>
    </header>
   <main>
       
       <form id="form-motivo" method="POST">
        <fieldset>
           <h4 class="titulo-motivo">Motivo de consulta</h2>
            <hr>
            <label for="motivo" id="label-motivo">Motivo*</label>
            <br>
            <select name="motivo" id="motivo">
                <option value="1">Modificación de datos personales</option>
                <option value="2">Reembolso</option>
                <option value="3">Contactar por una noticia</option>
                <option value="4">Informacion de Contrato</option>
            </select>
        </fieldset>
        <br>
        <fieldset id="reembolso">
            <h4 class="titulo-motivo">Reembolso</h4>
            <hr>
            <div id="div-boleta">
            <label for="boleta">Ingrese última boleta de pago: </label>
            <input type="file" name="boleta" id="boleta">
            </div>
        </fieldset>
        <br>
        <fieldset>
            <h4 class="titulo-motivo">Ingrese los siguientes datos para el envio de su solicitud</h4>
            <hr>
            <div class="cont-datos">
                <label for="direccion">Dirección*</label> <br>
                <input id="direccion" class="datos" type="text" name="direccion">
                <p class="p-form" id="p-direccion"></p>
            </div>
            <div class="cont-datos">
                <label for="comuna">Comuna*</label>
                <br>
                <input class="datos" type="text" name="comuna" id="comuna">
                <p class="p-form" id="p-comuna"></p>
            </div>
            <div class="cont-datos">
                <label for="nombre">Primer Nombre*</label>
                <br>
                <input type="text" name="nombre" class="datos" id="nombre">
                <p class="p-form" id="p-nombre"></p>

            </div>
            <div class="cont-datos">
                <label for="snombre">Segundo Nombre</label>
                <br>
                <input type="text" name="snombre" class="datos">
                <p class="p-form"></p>
                
            </div>
            <div class="cont-datos">
                <label for="app">Apellido Paterno*</label>
                <br>
                <input type="text" name="app" class="datos" id="app">
                <p class="p-form" id="p-app"></p>
                
            </div>
            <div class="cont-datos">
                <label for="apm">Apellido Materno*</label>
                <br>
                <input type="text" name="apm" class="datos" id="apm">
                <p class="p-form" id="p-apm"></p>
                
            </div>
            <div class="cont-datos">
                <label for="email">Correo Electrónico*</label>
                <br>
                <input type="email" name="email" class="datos" id="email">
                <p class="p-form" id="p-email"></p>
        
            </div>
            <div class="cont-datos">
                <label for="telefono">Nº de Telefono</label>
                <br>
                <input type="text" name="telefono" class="datos">
                <p class="p-form"></p>
                
            </div>

            <div class="cont-datos">
                <h4>Comentario*</h4> 
                <br>
                <textarea name="" id="" cols="109" rows="20"></textarea>
            </div>
        </fieldset>

        <button type="submit" id="submit">Enviar</button>
            

       </form>
   </main>


   <footer>
    <section class="clientes contenedor">
        <h2 class="titulo">Equipo de trabajo</h2>
        <div class="cards">
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img4'%}" alt="">
                <div class="contenido-texto-card">
                    <h4>Constanza Soto</h4>
                    <p>Funcion: Periodista </p>
                    <p>email: conzsto05@caosnew.cl</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img5.jpg' %}" alt="">
                <div class="contenido-texto-card">
                    <h4>Paolo Valencia</h4>
                    <p>Funcion: Camarografo</p>
                    <p>email: paolvl09@caosnew.cl</p>
                </div>
            </div>
        </div>
    </section>
    <section class="clientes contenedor">
        <div class="cards">
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img3.jpg'%}" alt="">
                <div class="contenido-texto-card">
                    <h4>Francisco Santander</h4>
                    <p>Funcion: Periodista </p>
                    <p>email: franc02@caosnew.cl</p>
                </div>
            </div>
    </section>
    </section>

    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Noticias</h4>
            <a href="{% url 'nacional' %}"><p>Nacional</p></a>
            <a href="{% url 'internacional' %}"><p>Internacional</p></a>
            <a href="{% url 'tendencias' %}"><p>Tendencias</p></a>
            <a href="{% url 'deportes' %}"><p>Deportes</p></a>
            <a href="#"><p>Economia</p></a>
            <a href="{% url 'Salud' %}"><p>Salud</p></a>
        </div>
        <div class="content-foo">
            <h4>Datos util</h4>
            <a href="{% url 'datosSutil' %}"><p>Estudiante</p></a>
            <a href="{% url 'datosSutil' %}"><p>Pensiones</p></a>
            <a href="{% url 'datosSutil' %}"><p>Bonos</p></a>
            <a href="{% url 'datosSutil' %}"><p>Mujer</p></a>
            
        </div>

    <div class="content-foo">
        <h4>Programas</h4>
        <a href="{% url 'internacional' %}"><p>Noticieros</p></a>
        <a href="{% url 'Reportajes' %}"><p>Reportaje</p></a>
        <a href="{% url 'entrevistas' %}"><p>Entrevistas</p></a>
        
        
    </div>
        <div class="content-foo">
            <h4>Contactenos</h4>
            <p>Fono: (56) 960575948</p>
            <p>Email:example@example.com</p>
            <p>Ubicacion: Avenida Vicuña Mackenna #1370, Ñuñoa, Santiago Chile </p>
        

            
        </div>
    </div>
    <h2 class="titulo-final">&copy; Caos News | Noticiero Nacional</h2>
</footer>
    
</body>
</html>