{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internacional Caos_News</title>
    <link rel="shortcut icon" href="img/imgcn.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <div class="cont">
                <div class="logo">
                    <img src="tendenciaimg/logo.png" alt=""style="width:149px">
                </div>
            </div>
            <a href="{% url 'index' %}">Portada</a>
            <a href="{% url 'nacional' %}">Ultimo minuto</a>
            <a href="{% url 'deportes' %}">Deporte</a>
            <a href="{% url 'Reportajes' %}">Programas</a>
            <a href="{% url 'login' %}">iniciar sesion</a>
        </nav>
        <section class="textos-header">
            <img src="img3/internacional.png" alt=""style="width:500px">
            <div class="content-all">
                <div class="content-carrousel">
                    

                </div>
            </div>    
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <h2>Sucesos en el Mundo</h2>
        <br>
        <section class="contenedor sobre-nosotros">
            
            <div class="contenedor-sobre-nosotros">
                <img src="img2/img1.jpg"alt="">
                <div class="contenido-textos">
                    <br>
                    <h3><span>1</span>Colección de vinos exclusivos de la zona de Borgoña es subastada por 8,7 millones de euros</h3>
                    <p>Una colección de 2.000 vinos raros y lujosos de uno de los viñedos más exclusivos de Borgoña, 
                        al este de Francia, fue subastada el domingo por unos 8,7 millones de euros, 
                        indicó la casa de suiza Baghera Wines.</p>
                   
                    </div>
                </div>
            </section>
        </section>
        <section class="about-services">
            <div class="contenedor">    
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="internacional/img1.jpg" alt="">
                        <h3>Joven secuestra a niño de 4 años mientras dormía en su cuna, lo asesina y lo deja en la calle </h3>
                        <p>DUn joven de 18 años fue detenido por las autoridades de Dallas, Texas, Estados Unidos, tras ser acusado de secuestrar a un niño de 4 años
                             mientras dormía; al que finalmente asesinó y dejó tirado en la calle en un nefasto crimen que conmocionó a la ciudad.</p>
                              <a href="https://www.meganoticias.cl/mundo/337311-nino-cuatro-anos-asesinado-secuestro-cuna-estados-unidos-1ab.html" >>>Para más informacion<<</a>
                    </div>
                    <div class="servicio-ind">
                        <img src="internacional/img2.jpg" alt="">
                        <h3>Nuevo récord: Argentina registra más de 35 mil casos nuevos de Covid-19 en un día</h3>
                        <p> Durante este miércoles, el Ministerio de Salud de Argentina reportó casi 40 mil casos nuevos de coronavirus en las últimas 24 horas, 
                            una cifra récord en el país desde el inicio de la pandemia.
                            La cifra más alta antes de esta jornada fue el pasado martes, cuando hubo 745 muertes asociadas al Covid-19 y 35.543 contagios. </p>
                             <a href="https://www.meganoticias.cl/mundo/337339-argentina-covid-cifra-record-muertos-35-mil-contagios-coronavirus-jrx07.html" >>>Para más informacion<<</a>
                    </div>
                    <div class="servicio-ind">
                        <img src="internacional/img3.jpg" alt="">
                        <h3>Perro chihuahua arriesga pena de muerte por morder a una vendedora en Inglaterra</h3>
                        <p> El perro de 33 centímetros habría perseguido y mordido las piernas de la mujer en el patio de la casa de su dueño, acción por la que la afectada declaró estar “aterrada”..</p>
                             <a href="https://www.meganoticias.cl/mundo/336865-chihuahua-enfrentara-juzgado-arriesga-pena-de-muerte-inglaterra-ccx22.html" >>>Para más informacion<<</a>
                    </div>
                  
                    
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="internacional/img4.jpg" alt="">
                        <h3>Kim Jong-un prohíbe los jeans ajustados por temor a que puedan "derrocar" su gobierno </h3>
                        <p>Kim Jong-un, el dictador de Corea del Norte, prohibió los pantalones ajustados y peinados excéntricos como el “salmonete” o cresta, en una serie de medidas nuevas que
                             buscan mantener a los jóvenes del país alejados de las tendencias de la cultura occidental.</p>
                              <a href="https://www.meganoticias.cl/mundo/337301-kim-jong-un-corea-del-norte-jeans-ajustados-1ab.html?utm_source=meganoticias.cl&utm_medium=Mundo&utm_campaign=mn_lo-ultimo-mundo" >>>Para más informacion<<</a>
                    </div>
                    <div class="servicio-ind">
                        <img src="internacional/img5.jpg" alt="">
                        <h3>Joven policía muere por virus de rabia luego de no tratarse una mordida de gato callejero</h3>
                        <p> Una mujer, que se desempeñaba como policía, murió a sus 33 años al padecer el virus de la rabia, tras ser mordida por un gato callejero, 
                            situación que puso en alerta al ministerio de Salud de Buenos Aires, Argentina. </p>
                             <a href="https://www.meganoticias.cl/mundo/337292-mujer-sargento-muere-virus-rabia-mordedura-gato-callejero-zaira-di-giorgio-rex10.html?utm_source=meganoticias.cl&utm_medium=Mundo&utm_campaign=mn_lo-ultimo-mundo" >>>Para más informacion<<</a>
                    </div>
                    <div class="servicio-ind">
                        <img src="internacional/img6.jpg" alt="">
                        <h3>Abuela logra tenencia de nieta de 12 años que fue abusada: Está embarazada y no quiere abortar</h3>
                        <p> El caso de una niña de tan solo 12 años remeció a la localidad de Almafuerte, al sur de Córdoba
                            , Argentina, ya que la menor sufrió de abusos al interior de su círculo familiar y ahora se descubrió que está embarazada.</p>
                             <a href="https://www.meganoticias.cl/mundo/337147-nina-12-anos-violada-embarazada-abuela-denuncia-abuso-aborto-argentina-rex10.html" >>>Para más informacion<<</a>
                    </div>
                  
                    
                </div>
            </div>
        </section>
    </main>
    <section class="portafolio"></section>
    <div class="contenedor">
        <h2 class="titulo">Categorias</h2>
        <div class="galeria-port">
            <div class="imagen-port">
                <img src="img/img1.jpg" alt=""></a>
                <div class="hover-galeria">
                    <a href="Nacional.html"><img src="img/icono1.png" alt=""></a>
                    <p>Nacional</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="img/img2.jpg" alt="">
                <div class="hover-galeria">
                    <a href="Internacional.html"><img src="img/icono1.png" alt=""></a>
                    <p>Internacional</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="img/img3.jpg" alt="">
                <div class="hover-galeria">
                    <a href="tendencias.html"><img src="img/icono1.png" alt=""></a>
                    <p>Tendencias</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="img/img14.jpg" alt="">
                <div class="hover-galeria">
                    <a href="Formulario.html"><img src="img/icono1.png" alt=""></a>
                    <p>Contactenos</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="img/img4.jpg" alt="">
                <div class="hover-galeria">
                    <a href="deportes.html"><img src="img/icono1.png" alt=""></a>
                    <p>Deportes</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="img/img5.jpg" alt="">
                <div class="hover-galeria">
                    <a href="salud.html"><img src="img/icono1.png" alt=""></a>
                    <p>Salud</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="img/img6.jpg" alt="">
                <div class="hover-galeria">
                    <a href="entrevistas.html"><img src="img/icono1.png" alt=""></a>
                    <p>Entrevistas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="img/img7.jpg" alt="">
                <div class="hover-galeria">
                    <a href="reportajes.html"><img src="img/icono1.png" alt=""></a>
                    <p>Reportaje</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <section class="clientes contenedor">
        <h2 class="titulo">Equipo de trabajo</h2>
        <div class="cards">
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img4'%}" alt="">
                <div class="contenido-texto-card">
                    <h4>Constanza Soto</h4>
                    <p>Funcion: Periodista </p>
                    <p>email: conzsto05@caosnew.cl</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img5.jpg' %}" alt="">
                <div class="contenido-texto-card">
                    <h4>Paolo Valencia</h4>
                    <p>Funcion: Camarografo</p>
                    <p>email: paolvl09@caosnew.cl</p>
                </div>
            </div>
        </div>
    </section>
    <section class="clientes contenedor">
        <div class="cards">
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img3.jpg'%}" alt="">
                <div class="contenido-texto-card">
                    <h4>Francisco Santander</h4>
                    <p>Funcion: Periodista </p>
                    <p>email: franc02@caosnew.cl</p>
                </div>
            </div>
    </section>
    </section>

    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Noticias</h4>
            <a href="{% url 'nacional' %}"><p>Nacional</p></a>
            <a href="{% url 'internacional' %}"><p>Internacional</p></a>
            <a href="{% url 'tendencias' %}"><p>Tendencias</p></a>
            <a href="{% url 'deportes' %}"><p>Deportes</p></a>
            <a href="#"><p>Economia</p></a>
            <a href="{% url 'Salud' %}"><p>Salud</p></a>
        </div>
        <div class="content-foo">
            <h4>Datos util</h4>
            <a href="{% url 'datosSutil' %}"><p>Estudiante</p></a>
            <a href="{% url 'datosSutil' %}"><p>Pensiones</p></a>
            <a href="{% url 'datosSutil' %}"><p>Bonos</p></a>
            <a href="{% url 'datosSutil' %}"><p>Mujer</p></a>
            
        </div>

    <div class="content-foo">
        <h4>Programas</h4>
        <a href="{% url 'internacional' %}"><p>Noticieros</p></a>
        <a href="{% url 'Reportajes' %}"><p>Reportaje</p></a>
        <a href="{% url 'entrevistas' %}"><p>Entrevistas</p></a>
        
        
    </div>
        <div class="content-foo">
            <h4>Contactenos</h4>
            <p>Fono: (56) 960575948</p>
            <p>Email:example@example.com</p>
            <p>Ubicacion: Avenida Vicuña Mackenna #1370, Ñuñoa, Santiago Chile </p>
        

            
        </div>
    </div>
    <h2 class="titulo-final">&copy; Caos News | Noticiero Nacional</h2>
</footer>
    </body>
    
    </html>