{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    <script src="https://kit.fontawesome.com/1ed0921bab.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/imgcn.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/login.css'%}">
    

    <script src="{% static 'core/js/Copia de jquery-3.6.0.js'%}"></script>

    <script src="{% static 'core/js/login.js'%}"></script>
</head>
<body>
    <header id="cabecera">
        <nav>
            <a href="{% url 'index' %}">Portada</a>
            <a href="{% url 'nacional' %}">Ultimo minuto</a>
            <a href="{% url 'deportes' %}">Deporte</a>
            <a href="{% url 'Reportajes' %}">Programas</a>
            <a href="{% url 'login' %}">iniciar sesion</a>
        </nav>
        <section class="textos-header">
            <h1 id="titulo">Ingresar a Caos News©</h1>
               
           
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 500%;">
                
            </svg></div>
    </header>
   <main>
       <form id="form-login" action="" method="POST">
           <fieldset id="login">
            
               <h4 class="titulo-login"><i id="icon-user" class="fas fa-user"></i> Ingrese Datos</h4>
               <div class="div-datos">
               <label for="user">Ingrese Usuario:</label>
               <input type="text" name="user" id="user" class="datos">
               <p class="p-form" id="p-user"></p>
                </div>
                <div class="div-datos">
               <label for="password">Ingrese contraseña:</label>
               <input type="text" name="password" id="password" class="datos">
               <p class="p-form" id="p-password"></p>
                </div>    
           </fieldset>
           <button type="submit" id="boton">Ingresar</button>
       </form>
       <div id="p-2">
           <a class="a-p" href=""><p>¿Olvidó su contraseña?</p></a> <br> 
           <a class="a-p" href=""><p>¿Olvidó nombre de usuario?</p></a>
       </div>
       <hr>
       <br>
       <div id="registro">
        <p id="titulo-no" class="titulo-login">¿Aún no tiene cuenta?</p>
        <a href="{% url 'registro' %}" id="registro"><button id="boton-registro" type="button">Registrarme</button></a>
       </div>
       
       
   </main>


   <footer>
    <section class="clientes contenedor">
        <h2 class="titulo">Equipo de trabajo</h2>
        <div class="cards">
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img4'%}" alt="">
                <div class="contenido-texto-card">
                    <h4>Constanza Soto</h4>
                    <p>Funcion: Periodista </p>
                    <p>email: conzsto05@caosnew.cl</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img5.jpg' %}" alt="">
                <div class="contenido-texto-card">
                    <h4>Paolo Valencia</h4>
                    <p>Funcion: Camarografo</p>
                    <p>email: paolvl09@caosnew.cl</p>
                </div>
            </div>
        </div>
    </section>
    <section class="clientes contenedor">
        <div class="cards">
            <div class="card">
                <img src="{% static 'core/tendenciaimg/img3.jpg'%}" alt="">
                <div class="contenido-texto-card">
                    <h4>Francisco Santander</h4>
                    <p>Funcion: Periodista </p>
                    <p>email: franc02@caosnew.cl</p>
                </div>
            </div>
    </section>
    </section>

    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Noticias</h4>
            <a href="{% url 'nacional' %}"><p>Nacional</p></a>
            <a href="{% url 'internacional' %}"><p>Internacional</p></a>
            <a href="{% url 'tendencias' %}"><p>Tendencias</p></a>
            <a href="{% url 'deportes' %}"><p>Deportes</p></a>
            <a href="#"><p>Economia</p></a>
            <a href="{% url 'Salud' %}"><p>Salud</p></a>
        </div>
        <div class="content-foo">
            <h4>Datos util</h4>
            <a href="{% url 'datosSutil' %}"><p>Estudiante</p></a>
            <a href="{% url 'datosSutil' %}"><p>Pensiones</p></a>
            <a href="{% url 'datosSutil' %}"><p>Bonos</p></a>
            <a href="{% url 'datosSutil' %}"><p>Mujer</p></a>
            
        </div>

    <div class="content-foo">
        <h4>Programas</h4>
        <a href="{% url 'internacional' %}"><p>Noticieros</p></a>
        <a href="{% url 'Reportajes' %}"><p>Reportaje</p></a>
        <a href="{% url 'entrevistas' %}"><p>Entrevistas</p></a>
        
        
    </div>
        <div class="content-foo">
            <h4>Contactenos</h4>
            <p>Fono: (56) 960575948</p>
            <p>Email:example@example.com</p>
            <p>Ubicacion: Avenida Vicuña Mackenna #1370, Ñuñoa, Santiago Chile </p>
        

            
        </div>
    </div>
    <h2 class="titulo-final">&copy; Caos News | Noticiero Nacional</h2>
</footer>
    
</body>
</html>