{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nacional Caos_News</title>
    <link rel="shortcut icon" href="img/imgcn.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/css/estilos.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <div class="cont">
                <div class="logo">
                    <img src="tendenciaimg/logo.png" alt=""style="width:149px">
                </div>
            </div>
            <a href="{% url 'index' %}">Portada</a>
            <a href="{% url 'nacional' %}">Ultimo minuto</a>
            <a href="{% url 'deportes' %}">Deporte</a>
            <a href="{% url 'Reportajes' %}">Programas</a>
            <a href="{% url 'login' %}">iniciar sesion</a>
        </nav>
        <section class="textos-header">
            <img src="img3/nacio.png" alt=""style="width:500px">
            
            <div class="content-all">
                <div class="content-carrousel">
                    

                </div>
            </div>    
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <h2>Sucesos en el país</h2>
        <section class="contenedor sobre-nosotros">
            
            <div class="contenedor-sobre-nosotros">
                <img src="img/img1.jpg"alt="">
                <div class="contenido-textos">
                    <h3><span>1</span>Temblor de mediana intensidad se registra en la Antártica</h3>
                    <p>La noche de este sábado 17 de abril, a las 22:15 horas, un sismo de magnitud 5.0 
                        en la escala de Richter afectó al territorio antártico, según informó el Centro 
                        Sismológico de la Universidad de Chile.De acuerdo a los datos entregados por el organismo, 
                        el epicentro se ubicó 32 km al Este de la Base Frei, en la Región de Magallanes, con una 
                        profundidad de 10.9 kms.</p>
                   
                    </div>
                </div>
            </section>
            <section class="portafolio"></section>

        </section>
        <section class="about-services">
            <div class="contenedor">
                
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="img1/13.jpg" alt="">
                        <h3>Temblor afecta a la zona norte del país </h3>
                        <p>Durante la tarde de este miércoles se registró un sismo de magnitud 4,3 en la región de Atacama, cuando el reloj marcaba las 16:11 horas..</p>
                        <a href="https://www.meganoticias.cl/nacional/337320-temblor-hoy-tierra-amarilla-region-de-atacama-epicentro-chile-sismo-jfx06.html" >>>Para más informacion<<</a>
                    </div>
                    <div class="servicio-ind">
                        <img src="img1/img14.jpg" alt="">
                        <h3>Habló Pamela Jiles tras las fallidas negociaciones en la oposición: “Los partidos agonizan”</h3>
                        <p> La diputada del PH usó su Twitter en el cierre de la inscripción de pactos para primarias en el Servel y entregó su análisis sobre 
                            lo ocurrido con los bloques de la centroizquierda. "Exhiben su incapacidad de ponerse de acuerdo", dijo.</p>
                             <a href="https://www.chvnoticias.cl/nacional/pamela-jiles-primarias-oposicion-servel_20210520/" >>>Para más informacion<<</a>
                    </div>
                    <div class="servicio-ind">
                        <img src="img1/img15.jpg" alt="">
                        <h3>Comunidad Palestina en Chile realizó concurrida caravana en Las Condes por el conflicto en Oriente Medio</h3>
                        <p>La colectividad es la más grande del mundo fuera de Medio Oriente y decidieron manifestarse desde el Club Palestino hasta Plaza Baquedano. 
                            "Nos estamos sumando a las manifestaciones que se han realizado alrededor del mundo", dijo Maurice Khamis, presidente de la Comunidad.</p>
                            <a href="https://www.chvnoticias.cl/nacional/comunidad-palestina-chile-caravana-medio-oriente_20210519/" >>>Para más informacion<<</a>
                    </div>
                  
                    
                </div>
            </div>
            <section class="about-services">
                <div class="contenedor">
                    
                    <div class="servicio-cont">
                        <div class="servicio-ind">
                            <img src="img1/img16.jpg" alt="">
                            <h3>Fundación Amparo y Justicia representará a madre de hermanos asesinados en El Bosque </h3>
                            <p>Con el objetivo de "contribuir a que se haga justicia" la Fundación Amparo y Justicia informó, este miércoles, que asumió 
                                la representación formal de la madre de los adolescentes de 14 y 18 años asesinados en la comuna de El Bosque. </p>
                                <a href="https://www.t13.cl/noticia/nacional/fundacion-amparo-justicia-hermanos-asesinados-bosque-19-05-2021" >>>Para más informacion<<</a>
                        </div>
                        <div class="servicio-ind">
                            <img src="img1/img17.jpg" alt="">
                            <h3>Lanzan seguro para proteger notebooks de teletrabajadores (ofrecen uno de reemplazo sin costo)</h3>
                            <p> FID Seguros lanzó una cobertura que protege los notebooks de cada trabajador y, a la vez, ofrece uno de reemplazo en caso de un accidente. </p>
                                 <a href="https://www.t13.cl/noticia/nacional/seguro-proteger-notebook-trabajadores-reemplazo-sin-costo-19-05-2021" >>>Para más informacion<<</a>
                        </div>
                        <div class="servicio-ind">
                            <img src="img1/img18.jpg" alt="">
                            <h3>Arresto domiciliario nocturno para adherente del “Rechazo” Roberto Belmar por golpiza a 8 personas</h3>
                            <p> El sujeto fue condenado a 541 días de presidio, que cumplirá en su domicilio, pero será monitoreado mediante una tobillera electrónica para evitar que incumpla la medida. </p>
                                <a href="https://www.t13.cl/noticia/nacional/arresto-domiciliario-rechazo-roberto-belmar-golpiza-tobillera-electronica-19-05-2021" >>>Para más informacion<<</a>
                        </div>
                      
                        
                    </div>
                </div>
        </section>
        <section class="portafolio"></section>
        <div class="contenedor">
            <h2 class="titulo">Categorias</h2>
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="img/img1.jpg" alt=""></a>
                    <div class="hover-galeria">
                        <a href="Nacional.html"><img src="img/icono1.png" alt=""></a>
                        <p>Nacional</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img2.jpg" alt="">
                    <div class="hover-galeria">
                        <a href="Internacional.html"><img src="img/icono1.png" alt=""></a>
                        <p>Internacional</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img3.jpg" alt="">
                    <div class="hover-galeria">
                        <a href="tendencias.html"><img src="img/icono1.png" alt=""></a>
                        <p>Tendencias</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img14.jpg" alt="">
                    <div class="hover-galeria">
                        <a href="Formulario.html"><img src="img/icono1.png" alt=""></a>
                        <p>Contactenos</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img4.jpg" alt="">
                    <div class="hover-galeria">
                        <a href="deportes.html"><img src="img/icono1.png" alt=""></a>
                        <p>Deportes</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img5.jpg" alt="">
                    <div class="hover-galeria">
                        <a href="salud.html"><img src="img/icono1.png" alt=""></a>
                        <p>Salud</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img6.jpg" alt="">
                    <div class="hover-galeria">
                        <a href="entrevistas.html"><img src="img/icono1.png" alt=""></a>
                        <p>Entrevistas</p>
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="img/img7.jpg" alt="">
                    <div class="hover-galeria">
                        <a href="reportajes.html"><img src="img/icono1.png" alt=""></a>
                        <p>Reportaje</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </main>
    <footer>
        <section class="clientes contenedor">
            <h2 class="titulo">Equipo de trabajo</h2>
            <div class="cards">
                <div class="card">
                    <img src="{% static 'core/tendenciaimg/img4'%}" alt="">
                    <div class="contenido-texto-card">
                        <h4>Constanza Soto</h4>
                        <p>Funcion: Periodista </p>
                        <p>email: conzsto05@caosnew.cl</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'core/tendenciaimg/img5.jpg' %}" alt="">
                    <div class="contenido-texto-card">
                        <h4>Paolo Valencia</h4>
                        <p>Funcion: Camarografo</p>
                        <p>email: paolvl09@caosnew.cl</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <div class="cards">
                <div class="card">
                    <img src="{% static 'core/tendenciaimg/img3.jpg'%}" alt="">
                    <div class="contenido-texto-card">
                        <h4>Francisco Santander</h4>
                        <p>Funcion: Periodista </p>
                        <p>email: franc02@caosnew.cl</p>
                    </div>
                </div>
        </section>
        </section>

        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Noticias</h4>
                <a href="{% url 'nacional' %}"><p>Nacional</p></a>
                <a href="{% url 'internacional' %}"><p>Internacional</p></a>
                <a href="{% url 'tendencias' %}"><p>Tendencias</p></a>
                <a href="{% url 'deportes' %}"><p>Deportes</p></a>
                <a href="#"><p>Economia</p></a>
                <a href="{% url 'Salud' %}"><p>Salud</p></a>
            </div>
            <div class="content-foo">
                <h4>Datos util</h4>
                <a href="{% url 'datosSutil' %}"><p>Estudiante</p></a>
                <a href="{% url 'datosSutil' %}"><p>Pensiones</p></a>
                <a href="{% url 'datosSutil' %}"><p>Bonos</p></a>
                <a href="{% url 'datosSutil' %}"><p>Mujer</p></a>
                
            </div>

        <div class="content-foo">
            <h4>Programas</h4>
            <a href="{% url 'internacional' %}"><p>Noticieros</p></a>
            <a href="{% url 'Reportajes' %}"><p>Reportaje</p></a>
            <a href="{% url 'entrevistas' %}"><p>Entrevistas</p></a>
            
            
        </div>
            <div class="content-foo">
                <h4>Contactenos</h4>
                <p>Fono: (56) 960575948</p>
                <p>Email:example@example.com</p>
                <p>Ubicacion: Avenida Vicuña Mackenna #1370, Ñuñoa, Santiago Chile </p>
            
    
                
            </div>
        </div>
        <h2 class="titulo-final">&copy; Caos News | Noticiero Nacional</h2>
    </footer>
    </body>
    
    </html>